{% extends "base.html" %}
{% block content %}
  <h1>Custom CSRF check error. 403</h1>
  <p>
      Код ответа на статус ошибки "HTTP 403 Forbidden" указывает, 
      что сервер понял запрос, но отказывается его авторизовать. 
      Доступ запрещён и привязан к логике приложения (например, 
      у пользователя не хватает прав доступа к запрашиваемому ресурсу).
  </p>
  <a
      class="btn btn-lg btn-primary"
      href="{% url 'posts:index' %}" role="button"
  >
      Перейти на главную
  </a>
{% endblock %}
